/*body{
    background-color: black;
    color: white;
}*/
.yellow-button{
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 2px;
    cursor: pointer;
}
.orange-button{
    background-color: orange;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 2px;
    cursor: pointer;
}